<div class="text-white mt-3 text-center"><h3>{{aim}}</h3></div>
<div class=" container border w-25 text-center form-control" style="background: rgba(57,87,79,0.5); border-radius: 25px; margin-top: 200px;">
    
        <h1 class="text-light">USER LOGIN</h1><pre>  </pre>
        <input id="user1" type="text" class="form-control" [placeholder]="acnm" (change)="acnoChange($event)"><br><pre></pre>
        <input id="user1" type="text" class="form-control" placeholder="Password" (change)="pswChange($event)"><br><pre></pre>
        <button (click)="login()"  type="button" class="btn btn-success">Login</button><br><br>
        <h5 style="color: white;">new user? <a href="">register</a></h5>

</div> 

